.itemCard {
  border: 1px solid #8b8b8b;
  border-radius: 8px;
  padding: 12px 24px;
  display: block;
  cursor: pointer;
}

.itemCard + .itemCard {
  margin-top: 12px;
}

.itemName {
  font-weight: 600;
}

.itemDesc {
  font-size: 1.4rem;
  margin-top: 8px;
}

.itemAmount {
  margin-top: 12px;
}
